<style>
    .nav-link{
        padding-top: 32px;
        color:rgb(165, 9, 40);
    }
    .nav-link:hover{
        text-transform: uppercase;
    }
    /* #nav-endlinks{
        display: flex;
        justify-content:end;
    } */
    hr{
        margin:.1px;
    }
</style>

<nav class="nav">
    <a class="navbar-brand" href="/bravado">
        <img src="https://i.imgur.com/pufQgFW.jpg" width="75" height="75" alt="">
      </a>
    <a class="nav-link" href="/bravado/">Home</a>
    <a class="nav-link" href="/bravado/newSubmission">Post</a>
    <a class="nav-link" href="/bravado/general/">General</a>
    <a class="nav-link" href="/bravado/tech/">Tech</a>
    <a class="nav-link" href="/bravado/finance/">Finance</a>
    <% if(typeof user !== 'undefined') { %>
        <a id="nav-endlinks" class="nav-link" href="/bravado/logout/"> Logout </a>
        <a id="nav-endlinks" class="nav-link" href="/bravado/manage-profile/"> Manage Profile </a>
    <% } else { %>
        <a id="nav-endlinks" class="nav-link" href="/bravado/register"> Register </a>
        <a id="nav-endlinks" class="nav-link" href="/bravado/login"> Login </a>
        <a id="nav-endlinks" class="nav-link" href="/bravado/about/"> About Us </a>
    <% } %>  
</nav>

<hr>