<div class="'logo">
    <a href="/bravado"><img src="https://imgur.com/Igyoz1d.jpg" style="width: 120px; height: 120px;"></a>
    <div>
        <h1>Where Professionals Gather</h1>
    </div>
</div>

<nav class="navbar">
    <div class=" nav">
        <a href="/bravado/"> Home </a>  
        <a href="/bravado/register"> Register </a>
        <a href="/bravado/login"> Login </a>
        <a href="/bravado/newSubmission"> Post </a>
        <a href="/bravado/general/"> General </a>
        <a href="/bravado/tech/"> Tech </a>
        <a href="/bravado/finance/"> Finance </a>
        <input class=" nav-search" type="text" placeholder="Search..">
    </div>
</nav>