<div class="'logo">
    <a href="/bravado"><img src='https://i.imgur.com/pufQgFW.jpg' style="width: 120px; height: 120px;"></a>
    
    Where Professionals Gather

<% if(typeof user !== 'undefined') { %>

<nav class="navbar navbar-default navbar-fixed-top">   
    <div class=" nav">
        <a href="/bravado/"> Home </a>  
        <a href="/bravado/newSubmission"> Post </a>
        <a href="/bravado/general/"> General </a>
        <a href="/bravado/tech/"> Tech </a>
        <a href="/bravado/finance/"> Finance </a>
        <a href="/bravado/logout/"> Logout </a>
        <a href="/bravado/manage-profile/"> Manage Profile </a>
        <input class=" nav-search" type="text" placeholder="Search..">        
    </div>
</nav>
<% } else { %>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class=" nav">
            <a href="/bravado/"> Home </a>  
            <a href="/bravado/register"> Register </a>
            <a href="/bravado/login"> Login </a>
            <a href="/bravado/newSubmission"> Post </a>
            <a href="/bravado/general/"> General </a>
            <a href="/bravado/tech/"> Tech </a>
            <a href="/bravado/finance/"> Finance </a>
            <a href="/bravado/about/"> About Us </a>
            <input class=" nav-search" type="text" placeholder="Search..">
        </div>
    </nav>
    <% } %>
</div>