<!DOCTYPE html>
<html lang="en">
  <%- include( 'partials/head.ejs')  %>
<body>

 <!-- form for comments -->
        <form action="/bravado/<%= category %>/<%= submissionId %>" method="POST">

            <label for="user">Username</label>
            <div>
                <input
                  type="text"
                  placeholder="Default"
                  name="user"
                  id="user"
                />
            </div>
    
            <label for="post">Leave a Comment</label>
            <div>
                  <textarea
                    type="text"
                    placeholder="Say Something!"
                    name="post"
                    id="post"
                  ></textarea>
            </div>
    
             <button class="button is-info">Comment</button>
         </form>