<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="/styles/show/style.css">
</head>
<body>

 <!-- form for comments -->
        <form action="/bravado/<%= category %>/<%= submissionId %>" method="POST">

            <label for="user">Username</label>
            <div>
                <input
                  type="text"
                  placeholder="Default"
                  name="user"
                  id="user"
                />
            </div>
    
            <label for="post">Leave a Comment</label>
            <div>
                  <textarea
                    type="text"
                    placeholder="Say Something!"
                    name="post"
                    id="post"
                  ></textarea>
            </div>
    
             <button class="button is-info">Comment</button>
         </form>