<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		    <link rel="stylesheet" href="/styles/main.css" />
            <script src="/scripts/main.js" defer></script>

        <title>Bravado</title>
    </head>
    <body style="background-color:black; color:aliceblue;">  

        <img src="https://imgur.com/aoh2c26.jpg" style="width: 25%; height: 25%;"> 

        <div>
            <p>Where Professionals Gather</p>
        </div>

		<nav class="navbar">
            <div>
                <!-- <a href="/" style="background-color:crimson; color:azure"> Home </a> | -->
                <a href="/bravado/newSubmission" style="background-color:crimson; color:azure"> Submit Yours </a> |
                <a href="/bravado/tech/" style="background-color:crimson; color:azure"> Tech </a> |
                <a href="/bravado/finance/" style="background-color:crimson; color:azure"> Finance </a>
            </div>
        </nav>

        <div>
            <img src="https://imgur.com/pNi2ckh.jpg" style="width: 150px; height: 150px"> 
            <img src="https://imgur.com/6Git2ee.jpg" style="width: 150px; height: 150px"> 
            <img src="https://imgur.com/XPzmHZK.jpg" style="width: 150px; height: 150px"> 
            <img src="https://imgur.com/Md3gMRt.jpg" style="width: 150px; height: 150px"> 
            <img src="https://imgur.com/Dgo44tE.jpg" style="width: 150px; height: 150px"> 
        </div>

        <section>
            <div>
                <h2 class="title"> About Bravado </h2>
                <p>Founded in 1936, Bravado began as a club for aspiring professionals looking to rebound from the Great Depression. As times evolved and technology became omnipresent, Bravado took the form of the website you see before you today! Take advantage of what today's professionals have to offer in order to see yourself in a better light as well.</p>
            </div>
        </section>

        <section>
            <div>
                <h2 class="title"> Our Goal </h2>
                <p>To get you hired!</p>
            </div>
        </section>
    
    </body>