<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />

            <script src="/scripts/main.js" defer></script>

        <title>Bravado</title>
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
            
            .logo{
                box-shadow: 2px 2px 3px red;
            }

            .nav{
                background-color: gray;
                padding-top: 11px;
                padding-bottom: 11px;
            }
            .nav a{
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 11px;
                padding-bottom: 11px;
                background-color: gray;
                text-decoration:solid;
                color: azure;
                font-family: 'Poppins', sans-serif;
                text-shadow: 2px 2px 3px rgb(251, 4, 177);
            }
            .nav a:hover {
                background-color: rgb(163, 48, 71);
                text-transform: uppercase;
                text-shadow: 2px 2px 3px rgb(251, 4, 177);
            }
            .nav a:active{
                background-color: crimson;
            }
            body{
                font-family: 'Poppins', sans-serif;
            }
        </style>
    </head>
    <body > 

        <div class="'logo">
            <a href="/bravado"><img src="https://imgur.com/Igyoz1d.jpg" style="width: 120px; height: 120px;"></a>
        </div>

		<nav class="navbar">
            <div class=" nav">
                <a href="/bravado/"> Home </a>  
                <a href="/bravado/newSubmission"> Post </a>
                <a href="/bravado/general/"> General </a>
                <a href="/bravado/tech/"> Tech </a>
                <a href="/bravado/finance/"> Finance </a>
            </div>
        </nav>

        <div>
            <h1>Where Professionals Gather</h1>
        </div>

        <div class="imgs">
           
            <img src="https://imgur.com/6Git2ee.jpg" style="width: 180px; height: 150px; margin: 10px">             
            <img src="https://imgur.com/Md3gMRt.jpg" style="width: 180px; height: 150px; margin: 10px"> 
            <img src="https://imgur.com/Dgo44tE.jpg" style="width: 180px; height: 150px; margin: 10px"> 
        </div>

        <section>
            <h2 class="title"> About Bravado </h2>
            <div class= "about">
                
                
                <p>Founded in 1936, Bravado began as a club for aspiring professionals looking to rebound from the Great Depression. As times evolved and technology became omnipresent, 
                    Bravado took the form of the website you see before you today! 
                    Take advantage of what today's professionals have to offer in order to see yourself in a better light as well.</p> 
                        <img src="https://imgur.com/pNi2ckh.jpg" style="width: 280px; height: 250px"> 
                   
               
            </div>

        </section>

        <section>
            <h2 class="title2"> Our Goal </h2>
            <div class = "goal">
                
                <img src="https://imgur.com/XPzmHZK.jpg" style="width: 280px; height: 250px"> 
            
            

                <p>To get you hired!</p>
                
            </div>
        </section>
    
    </body>