<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs' ,)  %>
    <body > 

        <%- include( 'partials/nav.ejs' ,)  %>


        

        <div class="imgs">
           
            <img src="https://imgur.com/6Git2ee.jpg" style="width: 180px; height: 150px; margin: 10px">             
            <img src="https://imgur.com/Md3gMRt.jpg" style="width: 180px; height: 150px; margin: 10px"> 
            <img src="https://imgur.com/Dgo44tE.jpg" style="width: 180px; height: 150px; margin: 10px"> 
        </div>

        <section>
            <h2 class="title"> About Bravado </h2>
            <div class= "about">
                
                
                <p>Founded in 1936, Bravado began as a club for aspiring professionals looking to rebound from the Great Depression. As times evolved and technology became omnipresent, 
                    Bravado took the form of the website you see before you today! 
                    Take advantage of what today's professionals have to offer in order to see yourself in a better light as well.</p> 
                        <img src="https://imgur.com/pNi2ckh.jpg" style="width: 280px; height: 250px"> 
                   
               
            </div>

        </section>

        <section>
            <h2 class="title2"> Our Goal </h2>
            <div class = "goal">
                
                <img src="https://imgur.com/XPzmHZK.jpg" style="width: 280px; height: 250px"> 
            
            

                <p>To get you hired!</p>
                
            </div>
        </section>
    
    </body>