<html lang="en">
    <%- include( 'partials/head.ejs')  %>
    <body>  
	
        <%- include( 'partials/nav.ejs' ,)  %>
    <style>
      body{
        padding-bottom: 90px;
      }
      .container h1{
        padding-top: 40px;
        padding-bottom: 20px;
      }
      .btn{
        margin-left: 500px;
      }
    </style>

        <main class="container">

        <h1>Hello, <%= oneUser.username %>! Care to share a recent experience?</h1>

       <form action="/bravado" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">Title</label>
          <input type="text" class="form-control" name="title" id="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Company</label>
          <input type="text" class="form-control" name="company" id="company" placeholder="Google">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Category</label>
          <select class="form-control" name="category" id="category">
            <option value="tech">Tech</option>
            <option value="finance">Finance</option>
            <option value="general">General Advice</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Let the People Know</label>
          <textarea class="form-control" name="post" id="post" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Image</label>
          <input type="text" class="form-control" name="image" id="image" placeholder="https://imgur">
        </div>
		     <!-- <button class="button is-info">Submit</button> -->
         <button class="btn btn-outline-danger">Submit Post</button>

      </form>

     </main>
	</body>
</html>