<html lang="en">
    <%- include( 'partials/head.ejs')  %>
    <body>  
	
        <%- include( 'partials/nav.ejs' ,)  %>
        <section>
            <div>
                <h1 class="title">Submit a Post</h1>
            </div>
        </section>

        <main class="container">

	      <form action="/bravado" method="POST">

            <label for="user">Username</label>
            <div>
                <input
                  type="text"
                  placeholder="Default"
                  name="user"
                  id="user"
                />
            </div>

            <label for="title">Title</label>
            <div>
                <input
                  type="text"
                  placeholder="Default"
                  name="title"
                  id="title"
                />
            </div>

            <label for="post">Let the People Know</label>
            <div>
                  <textarea
                    type="text"
                    placeholder="Say Something!"
                    name="post"
                    id="post"
                  ></textarea>
            </div>

            <label for="category">Pick Category</label>
            <div>
                <select name="category" id="category">
                    <option value="tech">Tech</option>
                    <option value="finance">Finance</option>
                    <option value="general">General Advice</option>
                </select>
            </div>

            <label for="company">Company</label>
            <div>
                <input
                  type="company"
                  placeholder="Google"
                  name="company"
                  id="company"
                />
            </div>

            <label for="image">Image</label>
            <div>
                <input
                  type="text"
                  placeholder="image.jpg (not necessary)"
                  name="image"
                  id="image"
                />
            </div>

		     <button class="button is-info">Submit</button>
	     </form>
     </main>
	</body>
</html>