<html lang="en">
    <%- include( 'partials/head.ejs')  %>
    <body>
	
        <%- include( 'partials/nav.ejs' ,)  %>
       

        <main class="container">

            <section class="ftco-section">
            
                    <div class="login-container">
                        <div class="row justify-content-center">
                           <!-- <div class="col-md-6 text-center mb-5">
                            <h2 class="heading-section">Register</h2>
                        </div> -->
                    </div>
    
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="login-wrap p-4 p-md-5">
                          <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fas fa-user"></span>
                          </div>
                          <h3 class="text-center mb-4">Create account</h3>  
                          <p><%= message %></p>

                          
                      <form action="/bravado/register" method="POST" class="login-form">
                              <div class="form-group">
                                <input type="text" 
                                class="form-control rounded-left"
                                 name="username"
                                  id="username" 
                                  placeholder="Username"/>
                              </div>
                              
                              <div class="form-group">
                                <input type="text" 
                                class="form-control rounded-left" 
                                name="email" 
                                id="email" 
                                placeholder="Email"/>
                              </div>
                              
                               <div class="form-group d-flex">
                                 <input type="password" 
                                 class="form-control rounded-left" 
                                 name="password" 
                                 id="password" 
                                 placeholder="Password"/>
                               </div>
                                    
                        <div class="form-group-btn">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Get started</button>
                        </div>
                      </form>
                      
                      
                    </div>
                        </div>
                    </div>
                </div>
            </section>

         <p class= "log-in-link"> <a href="/bravado/login">Already have an Account?</a></p>
     </main>
	</body>
</html>