<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />
        <script src="/scripts/main.js" defer></script>

        <title>Submit New Post</title>
        <style>
            body{
                background-color:#fff4f4;
                color:rgb(65, 65, 65);
            }
        </style>
    </head>
    <body>  
	
        <%- include( 'partials/nav.ejs' ,)  %>
        <section>
            <div>
                <h1 class="title">Register</h1>
            </div>
        </section>

        <main class="container">

	      <form action="/bravado/register" method="POST">

            <label for="user">Username</label>
            <div>
                <input
                  type="text"
                  placeholder="Keep it Cool!"
                  name="user"
                  id="user"
                />
            </div>

            <label for="email">Email</label>
            <div>
                <input
                  type="text"
                  placeholder="your@email.com"
                  name="email"
                  id="email"
                />
            </div>

            <label for="company">Password</label>
            <div>
                <input
                  type="password"
                  name="password"
                  id="password"
                />
            </div>

		     <button class="button is-info">Register</button>
	     </form>

         <p><a href="/bravado/login">Already have an Account?</a></p>
     </main>
	</body>
</html>