@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");       
@import url( "https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");
/* index / home page css */
body{
    background-color:#ffffff;
    color:rgb(65, 65, 65);
    
}

.nav {
    gap:0.5em;
}

.carousel-inner {
    max-height: 75vh;
}
.carousel-inner > .carousel-item > img {
   width:100%;
   height: auto;
  }

h1 {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif'
}
.row  {
    margin:auto;
    text-align: center;
}
.container-marketing {
    display:flex;
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
}
.advertisment {
    font-size: 30px;
    margin-top: 70px;
    font-family: 'Poppins', sans-serif;
}
.mb-0 {
    font-size: 25px;
}
.footer-box {
    background-color:rgb(150, 150, 150);
    width: 100%;
    margin-top: 30px;
    
}



/* category cssssssssssssssssss */
.category-h1 {
    padding-top: 40px;
    padding-left: 20px;
    font-size: 35px;
    font-family: 'Poppins', serif;
}
.category-h2 {
    padding-left: 20px;
    padding-bottom: 20px;
    font-size:20px ;    
    font-family: 'Poppins', sans-serif;
}
.category-container {
   
    margin:25px;
    font-family: 'Poppins', sans-serif;
}

/* register///login//// ------------------------------------>*/
label {
    font-family: 'Poppins', sans-serif;
}
.heading-section {
    text-decoration: underline;
}
.log-in-link {
    text-align: center;
}
.register-link {
    text-align: center;
}
.form-group-btn {
    text-align: center;
}
.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

/* about us page-----------------------> */
.top-section{
    padding-top: 80px;
}
section{
    padding-left: 40px;
    padding-right: 40px;
}
.title {
    font-size: 30px;
    font-family: 'Poppins', serif;
}
.about {
    display:flex;
    font-family: 'Poppins', sans-serif;
}

.about img {
    display: block;
    margin-left: auto;
    border-radius:10%;
    }
.about p {
    font-size: 20px;

    }
.title2 {
    margin:30px;
    text-align: right;
    font-size: 30px;
    font-family: 'Poppins', serif;
}
.goal {
    display:flex;
   
}
.goal img {
    border-radius: 10%;
}
.goal p{
font-size: 20px;
margin-left: 10px;
font-family: 'Poppins', sans-serif;
}