

/* index / home page css */
body{
    background-color:#ffffff;
    color:rgb(65, 65, 65);
    padding:0;
}


.nav {
    display:flex;
    justify-content: flex-start;
    width:100%;
    gap:1em;
}

.navbar{
   
    background-color:gainsboro;
    padding-top: 11px;
    padding-bottom: 11px;
    
    
    
}
.nav input[type=text] {
    margin-left:auto;
    margin-right: 10px;
    width: 175px;
    border: 1px solid black;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
  }
.nav a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: gainsboro;
    text-decoration:solid;
    color: black;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 2px 3px whitesmoke;
}
.nav a:hover {
    background-color: azure;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px white;
}
.nav a:active{
    background-color: crimson;
}
.carousel-inner {
    max-height: 50vh;
}
.carousel-inner > .carousel-item > img {
   width:100%;
   height: auto;

   
  }
  .quote{
    font-family: 'Nova Square', cursive;
    font-size: 25px;
    background-color:lightcoral;
    width: 75%;
    text-align: center;
    margin: auto;
    text-shadow: 2px 2px 3px white;
}

h1 {
    font-size: 19px;
    font-family:'Times New Roman', Times, serif'
}
.row  {
    margin:auto;
    text-align: center;
    
    
}
.arrow-p {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
}
.btn-arrow {
    font-size: 25px;
}



/* category cssssssssssssssssss */
.category-h1 {
    font-size: 35px;
    font-family: 'EB Garamond', serif;
}
.category-h2 {
    font-size:20px ;
    
    font-family: 'Poppins', sans-serif;
}
.category-container {
   
    margin:25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/* register///login//// ------------------------------------>*/
label {
    font-family: 'Poppins', sans-serif;
}
.heading-section {
    text-decoration: underline;
}
.log-in-link {
    text-align: center;
}
.register-link {
    text-align: center;
}
.form-group-btn {
    text-align: center;
}
.login-wrap .icon {
    width: 80px;
    height: 80px;
    background: crimson;
    border-radius: 50%;
    font-size: 30px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
/* about us page-----------------------> */
.title {
    font-size: 30px;
    text-decoration:underline;
    font-family: 'EB Garamond', serif;
}
.about {
    display:flex;
    font-family: 'Poppins', sans-serif;
}

.about img {
    display: block;
    margin-left: auto;
    border-radius: 20%;
    }
.about p {
    font-size: 20px;

    }
.title2 {
    margin:30px;
    text-align: right;
    font-size: 30px;
    text-decoration:underline;
    font-family: 'EB Garamond', serif;
}
.goal {
    display:flex;
   
}
.goal img {
    border-radius: 20%;
}
.goal p{
font-size: 20px;
margin-left: 50px;
font-family: 'Poppins', sans-serif;

}

